.reload-btn, .download-btn, .stop-btn {
    float:right;
    margin: 10px;
}

body {
    font-size: 20px; /* Adjust this value as needed */
}

h2 {
    font-size: 2em;
}

button {
    font-size: 1.2em;
}

.form-control {
    font-size: 1.2em;
}

#status, #recognizedText {
    font-size: 1.2em;
}

#transcription {
    font-size: 1.2em;
}
#startStopBtn, #pausePlayBtn{
    margin-top: 20px;
}

/* style.css */
.transcription-box {
    height: 680px; /* Adjust this height as needed */
    overflow-y: auto;
    display: flex;
    flex-direction: column-reverse;

}

